fieldset{
 width: 750px;
 margin: 7px auto;
 color: #444;
 border: 5px solid #ccc;
 font-family: Helvetica;
 padding: 15px;
}

h1{
 text-align: center;
}
h2{
 text-align: center;
}
h3{
 text-align: center;
}

p.sub-titulo{
 font-size: 20px;
}

.direita{
 text-align: right;
}
.esquerda{
 text-align: left;
}

.center{
 text-align: center;
}